
html {
  background-color: #ffffff; <!--white-->
}
body {
  color: #000080; <!--navy-->
}

a:visited {
  color: #ff0000; <!--red-->
}

a {
  color: #800080; <!--purple-->
}

.columns {
  -webkit-column-count: 2; <!--Chrome, Safari, Opera-->
  -moz-column-count: 2; <!--Firefox-->
  column-count:2;
}

#header {
  line-height: 0.005;
}

h1 {
  font-size:24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

.firstLetter {
  font-size:40px;
}


.h_line { width:100%; height:1px; background: black }

#geico {
  text-align: center;
  font-size:12px;
}