*{
  margin: 0;
}

header {
  background-color: yellow;
  float: top;


}

header h1{
  text-align: center;
}

.column-1 {
  background-color: green;
  position: relative;
  float: left;
  width: 50%;
}

.column-2 {
  background-color: teal;
  position: relative;
  float: right;
  width: 50%;
  padding-bottom: 2.75em;
}

footer {
  background-color: red;
  float: bottom;
  position: fixed;
  bottom: 0;
  width: 100%
}